.hidden {
    display: none;
}

.container {
    border: 1px solid #ebebeb;
}

li:nth-child(odd).header {
    background-color: #983441;
    color: #FFFFFF;
}

ul {
    margin-top: 0;
    list-style: none;
    padding: 0;
}

li {
    overflow: auto;
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    /*border: 1px solid #ebebeb;*/
}

li:nth-child(odd) {
    background-color: #F4F4F4;
}

li:nth-child(even) {
    background-color: #F8F8F8;
}

.column {
    display: block;
    float: left;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    height: 75px;
}

.img.column {
    border-right: none;
}

span {
    display: block;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-left: 15px;
}

.header-title {
    width: 886px;
}

.author {
    width: 10%;
    text-align: left;
}

.word-count {
    width: 5%;
    text-align: center;
}

.pubished {
    width: 10%;
    text-align: center;
}

.author-span {
    margin-top: 30px;
    margin-left: 15px;
    color: #42738d;
    font-family: sans-serif;
    font-size: .7em;
}

.black-text-span {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: .8em;
    margin-top: 30px;
}

.title-span {
    margin-left: 15px;
    margin-top: 10px;
    overflow: auto;
}

.title {
    color: #125277;
    font-size: 1.1em;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: bold;
    /*padding-left: 20px;*/
    width: 65%;
}