.hidden {
    display: none;
}

.container {
    border: 1px solid #ebebeb;
}

li:nth-child(odd).header {
    background-color: #983441;
    color: #FFFFFF;
}

ul {
    margin-top: 0;
    list-style: none;
    padding: 0;
}

li {
    overflow: auto;
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    /*border: 1px solid #ebebeb;*/
}

li:nth-child(odd) {
    background-color: #F4F4F4;
}

li:nth-child(even) {
    background-color: #F8F8F8;
}

.column {
    display: block;
    float: left;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    height: 75px;
}

img {
    padding-left: 15px;
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.header-title {
    width: 886px;
}

.author {
    width: 10%;
}

.word-count {
    width: 5%;
}

.pubished {
    width: 10%;
}

.title {
    color: #125277;
    font-size: 1em;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 20px;
    width: 65%;
}